<h1 id="stupid">Stupid Coaching</h1>

<div class="you">
  <h2><%= @question %></h2>
  <h4>- You </h4>
</div>

<div class='coach'>
  <h2><%= @answer %></h2>
  <h4>- Your coach</h4>
</div>

<%= link_to 'Ask a new question', '/ask' %>

<!-- need to get the question that is asked in the previous page
need to
 -->
